<section class="admin__page-section salesforce-manage-mapping">
    <div class="admin__page-section-title">
        <span class="title">Mapping</span>
    </div>
    <div class="admin__page-section-content" style="width: 100%;">
        <div class="admin__page-section-item order-payment-method admin__fieldset-wrapper" style="width: 100%;">
            <div class="admin__page-section-item-content" style="width: 100%;">

                <select class="admin__control-select"
                        style="width: 400px; height: 30px;"
                        name="salesforce-fields-mapping"
                        data-bind="options: availableTypes,
                                   optionsCaption: '--Choose Type--',
                                   value: selectedType,
                                   event : {change : getOptionValue()}">

                </select>
                <form id="mapping_form">

                        <!-- ko if : isTypeSelected -->
                <table class="admin__table-secondary">
                    <thead>
                        <tr>
                            <td>Magento Fields</td>
                            <td>Salesforce Fields</td>
                            <td>Description</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- ko foreach : magentoFields -->
                        <tr>
                            <td data-bind="text : key, value : value"></td>
                            <td>
                                <select class="admin__control-select"
                                        id="select_salesforce"
                                        data-bind="options: salesforceFields,
                                                   optionsText : 'key',
                                                   optionsValue : 'value',
                                                   value : selectedField,
                                                   optionsCaption: '--Choose Fields--',">
                                </select>
                            </td>
                            <td>
                                <input name="description_mapping" type="text" data-bind="attr: {value: description}">
                            </td>
                            <td>
                                <select class="admin__control-select" id="select_status" data-bind="value: status">
                                    <option value="1">Enabled</option>
                                    <option value="0">Disabled</option>
                                </select>
                            </td>
                        </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                    <button id="submit_mapping" style="width: 25%;" data-bind="click : saveMapping">Save Mapping</button>
                    <!-- /ko -->

                </form>
            </div>
        </div>
    </div>


</section>