<?php
    $numbersModuleNotMagento = count($block->getModuleNotMagento());
    $numbersModule = count($block->getModuleList());
    $numbers = [];
    $numbers['customer'] = count($block->getCustomerList());
    $numbers['product'] = count($block->getProductList());
    $numbers['order'] = count($block->getOrderList());
    $numbers['invoice'] = count($block->getInvoiceList());
    $numbers['credit'] = count($block->getCreditList());
?>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?php echo __('Request Report') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Modules Report') ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th>Numbers​ of module​ installed​ in Magento</th>
                        <td><?php echo $numbersModule ?></td>
                    </tr>
                    <tr>
                        <th>Numbers of module installed in Magento but belonged to another Vendor</th>
                        <td><?php echo $numbersModuleNotMagento; ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Content Report')?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tr>
                        <th>Numbers of Customers</th>
                        <td><?=$numbers['customer']?></td>
                    </tr>
                    <tr>
                        <th>Numbers of Products</th>
                        <td><?=$numbers['product']?></td>
                    </tr>
                    <tr>
                        <th>Numbers of Orders</th>
                        <td><?=$numbers['order']?></td>
                    </tr>
                    <tr>
                        <th>Numbers of Invoices</th>
                        <td><?=$numbers['invoice']?></td>
                    </tr>
                    <tr>
                        <th>Numbers of Creditmemos</th>
                        <td><?=$numbers['credit']?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
