<?php
    $movies = $block->getMovieCollection();
?>

<h2>Movies list (<?php echo count($this->getMovieCollection()) ?>)</h2>
<div class="col-md-4">
    <button id="test_button_movielist" class="btn btn-primary">Test Button</button>
</div>
<div class="col-md-4">
    <button id="test_button_movielist" class="btn btn-primary">Test Button Modal 2</button>
</div>
<div class="col-md-4">
    <button id="test_button_movielist" class="btn btn-primary">Test Button Modal 3</button>
</div>
<table class="table bordered" style="border: 1px solid black;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Director ID</th>
        </tr>

<?php foreach ($movies as $movie):?>
    <tr>
        <td><?php echo $movie->getMovieId();?></td>
        <td><?php echo $movie->getName();?></td>
        <td><?php echo $movie->getRating();?></td>
        <td><?php echo $movie->getDescription();?></td>
        <td><?php echo $movie->getDirectorId();?></td>
    </tr>
<?php endforeach; ?>
</table>
<script type="text/x-magento-init">
{ "#test_button_movielist":
    { "Magenest_Movie/js/customjs": ""}
}
</script>
