
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php echo __('Personal Infomation')?></strong></div>
    <div class="block-content">
        <div class="box box-information box-avatar">
            <?php
                $customer = $block->getCustomer();
                $customAttributeAvatar = $customer->getCustomAttribute('avatar');
                $avatarFile = !empty($customAttributeAvatar) ? $block->checkImageFile(base64_encode($customAttributeAvatar->getValue())) : false;
                $avatar = ($avatarFile) ? $block->getUrl('movie/avatar/view/',['image' => base64_encode($customAttributeAvatar->getValue())])
                                        : $block->getDefaultAvatar();
            ?>
            <div class="box-avatar-thumb">
                <img src="<?php echo $avatar ?>" alt="Avatar" class="field-name-avatar" width="150px" height="150px" />
            </div>
        <!--</div>
        <div class="box box-newsletter">-->
            <div class="box-content box-avatar-content">
            <strong class="box-title">
                <span><?php echo __('Personal Information') ?></span>
            </strong>
                <p>
                    Name: <?php echo $customer->getFirstname().' '.$customer->getLastname() ?><br>
                    Email: <?php echo $customer->getEmail() ?><br>
                    <?php
                    $addresses = $customer->getAddresses();
                    if (!empty($addresses))
                    {
                        $telephone = $addresses[0]->getTelephone();
                        echo "Phone: {$telephone}<br>";
                    }
                    ?>
                </p>
            </div>
        </div>
    </div>
</div>
